.company {
  font-size: 28px;
  color: white;
  margin: 15px;
}

.site-layout-sub-header-background {
  background: rgba(255, 255, 255, 0.2);;
}

.site-layout-background {
  background: rgba(255, 255, 255, 0.2);;
}